body {
    width: 200px;
}

.flex{
    display: flex;
    /* flex-wrap: wrap-reverse; nowrap no hace nada, wrap toma el ultimo contenido y lo agrupa */
    flex-flow: row wrap;/*la direccion de row con un wrap*/
    height:200px;


}

.red{
    background-color: red;
}

.primero{
    order:1;/*co 0 queda todo en el mismo orden, con 1 pasa el primer div al final*/
}

.tercero{
    order:-1;/*tercero el el primer valor ya que es -1*/
}