body{
    background-color: #eee;
}

/* columnas y filas */
/* tamaño min y max con minmax() */
/* repetir dimensiones con repeat() */
/* brecha entre elementos grid-row-gap o grid-gap */
.grid {
    display: grid;/*inline-frid tambien se ocupa para delimitar la zona roja hasta donde ese escribe*/
    /* grid-template-columns: 90px 50px 120px 50px; */
    /* grid-template-columns: 1fr 2fr 3fr;LO OCUPara en todo el ancho y los dividira */
    /* grid-template-columns: 2rem 20% 1fr 2fr; */
    /* grid-template-rows: minmax(100px, auto); */
    /* grid-template-columns: minmax(auto, 50%) 1fr 3em; */
    grid-template-rows: repeat(2, 50px);
    grid-template-columns: 30px repeat(3, 1fr) 15px;
    /* grid-row-gap: 20px; */
    grid-gap: 20px 10px

}
.element {
    background-color: red;
}